<div class="flex flex-row">
  <div class="flex flex-column w-4">
    <div class="flex md:-my-3">
      <p class="font-bold text-2xl"> David Ochoa</p>
    </div>
    <div class="flex md:-my-2">
      <p class="font-italic font-semibold text-lg text-blue-700">
        Estudiante de ingeniería en software en la Universidad Veracruzana
      </p>
    </div>
    <div class="flex md:-my-2">
      <p>Desarrollador Full Stack en preparación, con el objetivo de desarrollar aplicaciones eficientes,
        garantizando la mejor experiencia de usuario posible mediante soluciones flexibles y de vanguardia
      </p>
    </div>
  </div>
  <div class="flex flex-column justify-content-center align-items-center w-4">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/mycv-adom8a.appspot.com/o/Imagenes%2FIMG20240428170421.jpg?alt=media&token=633ca4d0-74b4-46b0-8f96-73c15f3fcb99"
      alt="Foto"
      class="circular-image">
  </div>
  <div class="flex flex-column w-4">
    <div class="flex justify-content-end align-items-center gap-2">
      <p>theonlydavid.8am&#64;gmail.com</p>
      <i class="pi pi-envelope" style="font-size: 1.5rem"></i>
    </div>
    <div class="flex justify-content-end align-items-center gap-2">
      <p>272 165 0820</p>
      <i class="pi pi-phone" style="font-size: 1.5rem"></i>
    </div>
    <div class="flex justify-content-end align-items-center gap-2">
      <p>Orizaba, Veracruz</p>
      <i class="pi pi-map-marker" style="font-size: 1.5rem"></i>
    </div>
    <div class="flex justify-content-end align-items-center gap-2">
      <p>&#64;ITheBroncoI</p>
      <i class="pi pi-github" style="font-size: 1.5rem"></i>
    </div>
  </div>
</div>
