<div class="flex flex-column">
  <div class="flex">
    <p class="font-bold text-xl">Skills & Competences</p>
  </div>
  <div>
    <div class="progress-item">
      <div class="label">
        <p class="font-semibold md:text-sm">Comunicacion</p>
      </div>
      <div class="progress-bar-container">
        <p-progressBar [value]="70" [showValue]="false" [style]="{ height: '18px' }"></p-progressBar>
      </div>
    </div>
    <div class="progress-item">
      <div class="label">
        <p class="font-semibold md:text-sm">Administración de tiempo</p>
      </div>
      <div class="progress-bar-container">
        <p-progressBar [value]="90" [showValue]="false" [style]="{ height: '18px' }"></p-progressBar>
      </div>
    </div>
    <div class="progress-item">
      <div class="label">
        <p class="font-semibold md:text-sm">Trabajo en equipo</p>
      </div>
      <div class="progress-bar-container">
        <p-progressBar [value]="85" [showValue]="false" [style]="{ height: '18px' }"></p-progressBar>
      </div>
    </div>
    <div class="progress-item">
      <div class="label">
        <p class="font-semibold md:text-sm">Desarrollo Web</p>
      </div>
      <div class="progress-bar-container">
        <p-progressBar [value]="80" [showValue]="false" [style]="{ height: '18px' }"></p-progressBar>
      </div>
    </div>
    <div class="progress-item">
      <div class="label">
        <p class="font-semibold md:text-sm">Trabajo bajo presion</p>
      </div>
      <div class="progress-bar-container">
        <p-progressBar [value]="90" [showValue]="false" [style]="{ height: '18px' }"></p-progressBar>
      </div>
    </div>
  </div>
</div>
